docs/n8n-workflow-fields.json
{
    "name": "WebSophon Field Evaluation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "websophon-evaluate",
                "responseMode": "immediateResponse",
                "responseData": "firstEntryJson",
                "options": {
                    "binaryData": true
                }
            },
            "id": "webhook-receiver",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "fieldsData",
                            "value": "={{ JSON.parse($json.fields) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "parse-fields",
            "name": "Parse Fields",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-vision-preview",
                "messages": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "Your job is very important and the results you provide will serve as a gatekeeper for actions taken in a very important series of actions for an automated system. You will behave as a highly accurate frame-by-frame screenshot processing engine, where you will be passed an image and a set of one or more fields accompanied by a value for each which is the key criteria necessary to evaluate for a boolean true or false value according to your image analysis.\n\nYou will respond in pure json format containing all original field(s), each accompanied by an array of the resulting boolean, and resulting probability represented by a floating point number between 0 and 1 that your analysis resulted in a boolean that is 100% correct according to the screenshot. Then at the end of the json response, you will append an additional field named \"reason\" which will contain a brief explanation of what you saw in the image and the state of the screenshot."
                        },
                        {
                            "role": "user",
                            "content": "Here are the fields and their criteria for evaluation:\n{{ $json.fieldsData }}\n\nAnalyze the screenshot and provide the results in the specified JSON format.",
                            "images": [
                                {
                                    "type": "binary",
                                    "binaryProperty": "screenshot"
                                }
                            ]
                        }
                    ]
                },
                "options": {
                    "temperature": 0.1,
                    "maxTokens": 1000,
                    "responseFormat": {
                        "type": "json_object"
                    }
                }
            },
            "id": "llm-analysis",
            "name": "Analyze Screenshot",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={{ JSON.parse($json.message.content) }}",
                "options": {}
            },
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.json",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "fields",
                            "value": "={{ $json }}"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{ $node['Webhook'].json.timestamp }}"
                        },
                        {
                            "name": "domain",
                            "value": "={{ $node['Webhook'].json.domain }}"
                        },
                        {
                            "name": "url",
                            "value": "={{ $node['Webhook'].json.url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prepare-response",
            "name": "Prepare Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Fields": {
            "main": [
                [
                    {
                        "node": "Analyze Screenshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Screenshot": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Prepare Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "id": "websophon-fields"
}