docs/n8n-workflow-example.json
{
    "name": "WebSophon Screenshot Processing",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "websophon-screenshots",
                "responseMode": "onReceived",
                "responseData": "allEntries",
                "responsePropertyName": "data"
            },
            "id": "webhook-receiver",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "websophon-webhook"
        },
        {
            "parameters": {
                "operation": "extractText",
                "binaryPropertyName": "screenshot",
                "options": {}
            },
            "id": "ocr-extract",
            "name": "Extract Text (OCR)",
            "type": "n8n-nodes-base.imageProcessing",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "notes": "Extract text from screenshot for analysis"
        },
        {
            "parameters": {
                "model": "gpt-4-vision-preview",
                "messages": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are analyzing a screenshot. Answer the following question with only 'true' or 'false'."
                        },
                        {
                            "role": "user",
                            "content": "Does this screenshot contain a login form or authentication page?\n\nDomain: {{ $json.domain }}\nURL: {{ $json.url }}\nExtracted Text: {{ $node['Extract Text (OCR)'].json.text }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.1,
                    "maxTokens": 10
                }
            },
            "id": "llm-analysis",
            "name": "Analyze Screenshot",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "notes": "Ask true/false question about screenshot"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.choices[0].message.content.toLowerCase() }}",
                            "value2": "true"
                        }
                    ]
                }
            },
            "id": "check-result",
            "name": "IF True",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://your-external-tool.com/api/endpoint",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "domain",
                            "value": "={{ $node['Webhook'].json.domain }}"
                        },
                        {
                            "name": "url",
                            "value": "={{ $node['Webhook'].json.url }}"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{ $node['Webhook'].json.timestamp }}"
                        },
                        {
                            "name": "llm_result",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "id": "call-external-tool",
            "name": "Call External Tool",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                250
            ],
            "notes": "Called only when LLM returns true"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "status",
                            "value": "Screenshot processed - No action taken"
                        }
                    ]
                },
                "options": {}
            },
            "id": "no-action",
            "name": "No Action",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                1050,
                350
            ],
            "notes": "When LLM returns false"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Text (OCR)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text (OCR)": {
            "main": [
                [
                    {
                        "node": "Analyze Screenshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Screenshot": {
            "main": [
                [
                    {
                        "node": "IF True",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF True": {
            "main": [
                [
                    {
                        "node": "Call External Tool",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "id": "websophon-workflow",
    "meta": {
        "instanceId": "websophon-instance"
    },
    "tags": []
}